html {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
div#center-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
div#add-employee {
    width: 22%;
}
div#add-employee form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px;
    margin: 20px;
    width: calc(100% - 2 * 20px);
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px var(--black-text) solid;
    border-radius: 10px;
    color: var(--grey-text-form);
    font-size: 0.9rem;
    font-weight: 600;
}

div#add-employee form .form-input {
    position: relative;
    min-height: 70px !important;
}

div#add-employee .form-input label {
    display: block;
    padding: 4px;
}

/*--Customize each input tag--*/
div#add-employee form div#employeeId,
div#add-employee form div#identifier,
div#add-employee form div#lastName,
div#add-employee form div#firstName,
div#add-employee form div#address,
div#add-employee form div#birthday,
div#add-employee form div#salary {
    width: 100%;
}
/*------------*/

div#add-employee .form-input fieldset {
    width: 100%;
    height: 55px;
    border: 2px var(--grey-border) solid;
    border-radius: 10px;
    padding: 0 10px;
}
div#add-employee .form-input fieldset legend {
    color: var(--black-text);
    font-weight: 100;
}
div#add-employee .form-input input,
div#add-employee .form-input select {
    outline: none;
    border: none;
    width: 100%;
}

div#add-employee .form-input_err-message {
    position: relative;
}

.err-message-block {
    position: absolute;
    display: none;
    color: red;
    font-size: 12px;
    padding-left: 10px;
}

div#add-employee form input[type=submit] {
    padding: 12px 42px;
    margin: 30px auto auto;
}

#error-message-close-btn:hover {
    cursor: pointer;
}

/*--Customize Employee List--*/
div#employee-list {
    width: 78%;
    /*background: blue;*/
}