html body {
    background-color: #f9fafc;
    position: relative;
}

.center-page_list .table-tools .right-grid {
    flex-direction: row-reverse;
}

/*--Customize Employee List--*/
html body table tbody {
    height: 62vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    scrollbar-width: thin; /* Options are auto, thin, and none */
}

table tr th#orderId,
table tr td.orderId {
    text-align: start;
    padding-left: 40px;
    width: 10%;
}

table tr th#createdDate,
table tr td.createdDate {
    text-align: start;
    width: 10%;
}

table tr th#supplier,
table tr td.supplier,
table tr th#employeeFullName,
table tr td.employeeFullName,
table tr th#supplyName,
table tr td.supplyName {
    text-align: start;
    width: 20%;
}

table tr th#suppliesQuantity,
table tr td.suppliesQuantity,
table tr th#price,
table tr td.price {
    text-align: center;
    width: 10%;
}

table.exporting-table-css tr {
    align-items: start;
    min-height: 26px;
}

table.exporting-table-css tr th,
table.exporting-table-css tr td {
    display: block;
    padding-top: 2px;
    font-size: 0.8rem;
}

table.exporting-table-css tr th#orderId{
    text-align: center;
    padding-left: 0;
    width: 10%;
}
table.exporting-table-css tr td.orderId {
    text-align: start;
    padding-left: 10px;
    width: 10%;
}
table.exporting-table-css tr th#createdDate,
table.exporting-table-css tr td.createdDate {
    text-align: start;
    width: 12%;
}

table.exporting-table-css tr th#supplier,
table.exporting-table-css tr td.supplier,
table.exporting-table-css tr th#employeeFullName,
table.exporting-table-css tr td.employeeFullName,
table.exporting-table-css tr th#supplyName,
table.exporting-table-css tr td.supplyName{
    text-align: start;
    width: 18%;
}

table.exporting-table-css tr th#suppliesQuantity,
table.exporting-table-css tr td.suppliesQuantity,
table.exporting-table-css tr th#price,
table.exporting-table-css tr td.price {
    text-align: center;
    width: 12%;
}

