html body {
    background-color: #f9fafc;
    position: relative;
}

/*--Customize Employee List--*/
html body table tbody {
    height: 62vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    scrollbar-width: thin; /* Options are auto, thin, and none */
}
table tr th#lastName,
table tr td.lastName {
    text-align: start;
    width: 17%;
}
table tr th#branch,
table tr td.branch,
table tr th#employeeId,
table tr td.employeeId,
table tr th#birthday,
table tr td.birthday,
table tr th#salary,
table tr td.salary {
    text-align: center;
    width: 8%;
}
table tr th#identifier,
table tr td.identifier {
    text-align: start;
    width: 10%;
}
table tr th#firstName,
table tr td.firstName {
    text-align: start;
    width: 6%;
}

table tr th#address,
table tr td.address {
    text-align: start;
    width: 25%;
}

table tr th#deletedStatus,
table tr td.deletedStatus {
    text-align: center;
    width: 10%;
}


