.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    margin-top: 50px;
}

.header-wrapper {
    justify-content: space-between;
    height: 50px;
    background-color: #100426;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    padding-right: 40px;
    color: white;
}

#header::after {
    padding-top: 50px;
}

#nav {
    justify-content: unset;
    line-height: 50px;
}

#nav li a {
    display: inline-block;
    color: white;
    padding: 0px 24px;
}

#nav>li:hover>a,
#nav .subnav li:hover {
    background-color: #ccc;
    color: black;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li a {
    color: black;
    min-width: 180px;
    white-space: nowrap;
}

.mock-avatar {
    width: 36px;
    height: 36px;
    margin: 0 10px;
    background-color: gray;
    border-radius: 50%;
    font-size: 20px;
}

.account p {
    font-size: 12px;
    color: gray;
}

.account-wrapper {
    height: 0;
    position: absolute;
    top: 10px;
    right: 100px;
    border-radius: 10px;
    min-width: 200px;
    background-color: white;
    cursor: default;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: all 0.4s ease;
}

/* Nếu dùng click thì xóa cái hover */
.avatar:hover .account-wrapper {
    height: 200px;
}

.account-info {
    padding: 0 10px;
    justify-content: unset;
    border-bottom: 1px solid lightgray;
    white-space: nowrap;
}

.info {
    flex-direction: column;
    align-items: start;
    padding: 10px;
    color: black;
}

.info span {
    height: 24px;
}

.account-btn {
    display: flex;
    flex-direction: column;
}

.account-btn a {
    color: black;
    font-size: 18px;
    text-align: start;
    padding: 5px 20px;
}

.account-btn a:hover {
    background-color: lightgray;
}

.account-btn a i {
    margin-right: 10px;
}