USE [QLVT_DATHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_SUPPLIES_EXPORTATION_DETAIL]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Le Van Dung
-- Create date: 17/6/2024
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADD_SUPPLIES_EXPORTATION_DETAIL]
	@MAPX NCHAR(8), @MAVT NCHAR(4), @SOLUONG INT, @DONGIA FLOAT
AS
	-- Automaically rollback when throwing exc.
	SET XACT_ABORT ON;
	-- Close transaction in the current session of this SP.
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN
	BEGIN TRY
	BEGIN TRAN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @SOLUONGTON INT;

    -- Kiểm tra số lượng tồn rồi trừ đi khi xuất vào Vattu.
	-- May throw exc.
	EXEC SP_UPDATE_SUPPLY_QUANTITY @OPTION='SUBTRACT', @MAVT = @MAVT, @SOLUONG = @SOLUONG;

	INSERT INTO CTPX (MAPX, MAVT, SOLUONG, DONGIA) VALUES (@MAPX, @MAVT, @SOLUONG, @DONGIA);
	
    COMMIT TRAN;
	END TRY
	BEGIN CATCH 

	ROLLBACK TRAN
	END CATCH 
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_SUPPLIES_IMPORTATION_DETAIL]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Le Van Dung
-- Create date: 17/6/2024
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADD_SUPPLIES_IMPORTATION_DETAIL]
	@MAPN NCHAR(8), @MAVT NCHAR(4), @SOLUONG INT, @DONGIA FLOAT
AS
	-- Automaically rollback when throwing exc.
	SET XACT_ABORT ON;
	-- Close transaction in the current session of this SP.
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN
	BEGIN TRY
	BEGIN TRAN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @SOLUONGTON INT;

    -- Kiểm tra số lượng tồn rồi cộng thêm vào khi nhập vào Vattu.
	-- May throw exc.
	EXEC SP_UPDATE_SUPPLY_QUANTITY @OPTION='ADD', @MAVT = @MAVT, @SOLUONG = @SOLUONG;

	INSERT INTO CTPN (MAPN, MAVT, SOLUONG, DONGIA) VALUES (@MAPN, @MAVT, @SOLUONG, @DONGIA);
	
    COMMIT TRAN;
	END TRY
	BEGIN CATCH
	ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_CMND]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECK_EXIST_CMND]
    @CMND NVARCHAR(20)
AS
BEGIN
    SELECT MANV
    FROM LINK0.QLVT_DATHANG.DBO.NHANVIEN
    WHERE
        TRANGTHAIXOA = 0 AND
        CMND = @CMND
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_EMPLOYEE_ID]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- * SP returns 1 means the ID ís existed, 0 means the ID is not existed
CREATE PROCEDURE [dbo].[SP_CHECK_EXIST_EMPLOYEE_ID]
	@MA_NHANVIEN int
AS
BEGIN
    IF (EXISTS(SELECT * FROM LINK0.QLVT_DATHANG.DBO.NHANVIEN AS NV 
				WHERE NV.TRANGTHAIXOA = 0 AND NV.MANV = @MA_NHANVIEN))
		return 1;
	return 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_EXPORT_ID]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECK_EXIST_EXPORT_ID]
	@MAPX nChar(8)
AS
BEGIN
	if (EXISTS(SELECT * FROM DBO.PhieuXuat AS PX WHERE PX.MAPX = @MAPX))
		RETURN 1;
	ELSE IF (EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.DBO.PhieuXuat AS PX WHERE PX.MAPX = @MAPX))
		RETURN 1;
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_IMPORT_ID]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECK_EXIST_IMPORT_ID]
    @MAPN nChar(8)
AS
BEGIN
	IF (EXISTS(SELECT * FROM PhieuNhap WHERE MAPN = @MAPN))
		RETURN 1;
	ELSE IF (EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.DBO.PhieuNhap WHERE MAPN = @MAPN))
		RETURN 1;
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_LOGIN]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_EXIST_LOGIN]
	@MANV NVARCHAR
AS
BEGIN
	DECLARE @SID INT = NULL;

	--* Get 'sid' corresponding with MANV as UserName in DB.
	SELECT TOP 1 @SID = SYS.SYSUSERS.sid FROM SYS.SYSUSERS WHERE SYS.SYSUSERS.name = @MANV;

	--* Check if LoginName is existing in Server by 'sid'.
	IF @SID IS NOT NULL
	BEGIN
		IF EXISTS(SELECT 1 FROM SYS.SYSLOGINS WHERE sid = @SID)
			RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_ORDER_ID]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECK_EXIST_ORDER_ID]
	@ID NVARCHAR(15)
AS
BEGIN
	IF (EXISTS (SELECT * FROM DatHang AS DH WHERE DH.MasoDDH = @ID))
		RETURN 1;
	ELSE IF (EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.DBO.DATHANG AS DH WHERE DH.MasoDDH = @id))
		RETURN 1;
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_SUPPLY_ID]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CHECK_EXIST_SUPPLY_ID]
	@MAVT NCHAR(4)
AS
BEGIN
	IF EXISTS(SELECT 1 FROM Vattu WHERE MAVT=@MAVT) BEGIN
		RETURN 1;
	END;
	ELSE IF EXISTS(SELECT 1 FROM LINK1.QLVT_DATHANG.DBO.Vattu WHERE MAVT=@MAVT) BEGIN
		RETURN 1;
	END;
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_WAREHOUSE_ID]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECK_EXIST_WAREHOUSE_ID]
	@MAKHO NCHAR(4)
AS
BEGIN
	-- SINCE THE SITE 3 IS FOR CHECKING UP THE STORAGE AND EMPLOYEE INFORMATION.
	-- THEREFORE THE BEST IS THAT WE CHECK FOR THE STORAGE ID IN THE SITE 3.
	IF (EXISTS(SELECT 1 FROM LINK0.QLVT_DATHANG.DBO.KHO AS K WHERE K.MAKHO = @MAKHO))
		return 1;
	return 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_USING_SUPPLY]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECK_USING_SUPPLY]
    @MAVT NVARCHAR(4)
AS
BEGIN
	-- CHECK THE SUPPLY ID IS USED IN CTPN OR CTPX IN CURRENT SITE
    IF EXISTS( SELECT 1 FROM Vattu WHERE 
		MAVT = @MAVT AND				
		(EXISTS(SELECT 1 FROM CTPN WHERE CTPN.MAVT = @MAVT) OR 
		EXISTS(SELECT 1 FROM CTPX WHERE CTPX.MAVT = @MAVT)) )
		RETURN 1;
	-- CHECK THE SUPPLY ID IS USED IN CTPN OR CTPX IN OTHER SITE
	IF EXISTS( SELECT 1 FROM Vattu WHERE 
		MAVT = @MAVT AND				
		(EXISTS(SELECT 1 FROM LINK1.QLVT_DATHANG.DBO.CTPN WHERE CTPN.MAVT = @MAVT) OR 
		EXISTS(SELECT 1 FROM LINK1.QLVT_DATHANG.DBO.CTPX WHERE CTPX.MAVT = @MAVT)) )
		RETURN 1;
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_LOGIN]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATE_LOGIN]
	@LOGIN_NAME VARCHAR(50),
    @PASS VARCHAR(50),
    @USERNAME VARCHAR(50),
    @ROLE VARCHAR(50)
AS
BEGIN
	DECLARE @RET INT
	EXEC @RET = SP_ADDLOGIN @LOGIN_NAME, @PASS, 'QLVT_DATHANG'
	IF (@RET = 1)
	BEGIN
		RAISERROR ('Duplicated login name', 16,1)
		RETURN
	END

	EXEC @RET = SP_GRANTDBACCESS @LOGIN_NAME, @USERNAME
	IF (@RET = 1)
	BEGIN
		EXEC SP_DROPLOGIN @LOGIN_NAME
		RAISERROR ('Duplicated username', 16,2)
		RETURN
	END

	EXEC sp_addrolemember @ROLE, @USERNAME
	IF @ROLE = 'ADMIN'
	BEGIN
		EXEC sp_addsrvrolemember @LOGIN_NAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LOGIN_NAME, 'DBCREATOR'
		EXEC sp_addsrvrolemember @LOGIN_NAME, 'ProcessAdmin'
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_EMPLOYEE]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_EMPLOYEE]
	@MANV INT
AS
BEGIN
	SET NOCOUNT ON;
	If EXISTS(SELECT 1 FROM NhanVien WHERE MANV = @MANV AND TrangThaiXoa = 0)
	BEGIN
		UPDATE NhanVien SET TrangThaiXoa = 1 WHERE MANV = @MANV;
		
	END;
	Else
		THROW 51000, 'Employee info is invalid', 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_LOGIN]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETE_LOGIN]
    @MANV INT,
    @LOGIN_NAME NVARCHAR(50)
AS
BEGIN
    DECLARE @ERR_MESSAGE NVARCHAR(256)
    DECLARE @SQL NVARCHAR(4000)

    BEGIN TRY
        -- Check if the employee exists
        IF NOT EXISTS (SELECT 1 FROM NHANVIEN WHERE MANV = @MANV) BEGIN
            SET @ERR_MESSAGE = 'INVALID EMPLOYEE ID';
            THROW 51000, @ERR_MESSAGE, 1;
        END

        -- Check if the login exists
        IF NOT EXISTS (SELECT 1 FROM sys.server_principals WHERE name = @LOGIN_NAME) BEGIN
            SET @ERR_MESSAGE = 'INVALID LOGIN NAME';
            THROW 51000, @ERR_MESSAGE, 1;
        END

        -- Terminate all sessions for the login
        DECLARE @spid INT
        DECLARE @login NVARCHAR(50) = @LOGIN_NAME

        DECLARE session_cursor CURSOR FOR
        SELECT session_id
        FROM sys.dm_exec_sessions
        WHERE login_name = @login

        OPEN session_cursor

        FETCH NEXT FROM session_cursor INTO @spid
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @SQL = N'KILL ' + CAST(@spid AS NVARCHAR(10))
            EXEC sp_executesql @SQL
            FETCH NEXT FROM session_cursor INTO @spid
        END

        CLOSE session_cursor
        DEALLOCATE session_cursor

        -- Construct and execute the dynamic SQL to drop the user
        SET @SQL = N'DROP USER [' + CAST(@MANV AS NVARCHAR(50)) + N']'
        EXEC sp_executesql @SQL

        -- Construct and execute the dynamic SQL to drop the login
        SET @SQL = N'DROP LOGIN [' + @LOGIN_NAME + N']'
        EXEC sp_executesql @SQL
    END TRY
    BEGIN CATCH
        -- Retrieve the error message if not already set
        IF @ERR_MESSAGE IS NULL
            SET @ERR_MESSAGE = ERROR_MESSAGE();

        -- Throw the error
        THROW 51000, @ERR_MESSAGE, 1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FETCH_ROLE_NAME_BY_EMPLOYEE_ID]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC	[dbo].[SP_FETCH_ROLE_NAME_BY_EMPLOYEE_ID]
	@EMPLOYEE_ID INT,
	@ROLE_NAME NVARCHAR(8) OUTPUT
AS
BEGIN
	DECLARE @RESULT NVARCHAR(8);

	SELECT @RESULT = DB_PRINC.NAME
	FROM SYS.DATABASE_PRINCIPALS AS DB_PRINC, (
		SELECT DB_PRINC.NAME AS USERNAME, DBRM.MEMBER_PRINCIPAL_ID AS MAPPING_MEMBER_ID, DBRM.ROLE_PRINCIPAL_ID AS MAPPING_ROLE_ID
		FROM SYS.DATABASE_ROLE_MEMBERS AS DBRM, (
			SELECT DB_PRINC.PRINCIPAL_ID, DB_PRINC.NAME
			FROM SYS.DATABASE_PRINCIPALS AS DB_PRINC 
			WHERE DB_PRINC.NAME = CAST(@EMPLOYEE_ID AS NVARCHAR(10))
		) AS DB_PRINC
		WHERE DB_PRINC.PRINCIPAL_ID = DBRM.MEMBER_PRINCIPAL_ID
	) AS ROLE_MAPPING
	WHERE ROLE_MAPPING.MAPPING_ROLE_ID = DB_PRINC.PRINCIPAL_ID

	SET @ROLE_NAME = @RESULT;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FIND_ALL_ORDER_DONT_HAVE_IMPORT]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_FIND_ALL_ORDER_DONT_HAVE_IMPORT]
	@MORE_CONDITION NVARCHAR(MAX)
AS
BEGIN
	DECLARE @sql NVARCHAR(MAX)
	SET @sql = N'
		SELECT
			MasoDDH, 
			Ngay, 
			NhaCC, 
			HOTEN,
			TENVT,
			SOLUONG,
			DONGIA
		FROM
			-- Taking all the orders and the employee''s information who imported that order.
			(SELECT
				MasoDDH,
				NGAY,
				NhaCC,
				HOTEN = (SELECT HOTEN = HO + '' '' + TEN FROM NhanVien 
							WHERE DatHang.MANV = NhanVien.MANV) 
				FROM DBO.DatHang  WITH(INDEX(IX_DatHang_NGAY))) DH,
			-- Taking all the order details
			(SELECT MasoDDH AS MDDH, MAVT,SOLUONG,DONGIA FROM CTDDH ) CT,
			-- Taking supplies information
			(SELECT TENVT, MAVT FROM Vattu WITH(INDEX(IX_Vattu_TENVT))) VT 
		WHERE MasoDDH = CT.MDDH
			AND VT.MAVT = CT.MAVT
			-- Exclude the orders which have not been imported yet.
			AND MasoDDH NOT IN (SELECT PhieuNhap.MasoDDH FROM PhieuNhap)
		'
    IF @MORE_CONDITION IS NOT NULL
    BEGIN
        SET @sql = @sql + N' AND ' + @MORE_CONDITION;
    END

    EXEC sp_executesql @sql;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FIND_TICKETS_FOR_DETAIL_SUPPLIES_REPORT]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FIND_TICKETS_FOR_DETAIL_SUPPLIES_REPORT]
	@LOAIPHIEU NVARCHAR(10), @FROM_DATE DATE, @TO_DATE DATE, @MANV NVARCHAR(10)
AS
BEGIN
	DECLARE @EMPLOYEE_ROLE NVARCHAR(8);
	EXEC DBO.SP_FETCH_ROLE_NAME_BY_EMPLOYEE_ID
		@EMPLOYEE_ID = @MANV,
		@ROLE_NAME = @EMPLOYEE_ROLE OUTPUT;

	IF (@LOAIPHIEU = 'NHAP') BEGIN
		-- * Getting data from the current site.
		SELECT TKVT.THANG, VT.TENVT, TKVT.TONGSOLUONG, TKVT.TONGTRIGIA
		INTO #CURRENT_SITE_DATA
		FROM VATTU AS VT
		INNER JOIN (
			SELECT
				THANG=CONCAT(MONTH(PN.NGAY), '-', YEAR(PN.NGAY)),
				CTPN.MAVT AS MAVT,
				SUM(CTPN.SOLUONG) AS TONGSOLUONG,
				SUM(CTPN.SOLUONG * CTPN.DONGIA) AS TONGTRIGIA
			FROM (
				SELECT PHIEUNHAP.MAPN, PHIEUNHAP.NGAY
				FROM PHIEUNHAP WITH (INDEX(IX_PhieuNhap_NGAY))
				WHERE PHIEUNHAP.NGAY BETWEEN @FROM_DATE AND @TO_DATE
			) AS PN
			INNER JOIN CTPN 
			ON CTPN.MAPN = PN.MAPN
			GROUP BY CONCAT(MONTH(PN.NGAY), '-', YEAR(PN.NGAY)), CTPN.MAVT
		) AS TKVT ON TKVT.MAVT = VT.MAVT
		ORDER BY THANG ASC, TENVT ASC;

		IF (@EMPLOYEE_ROLE = 'CONGTY') BEGIN
			SELECT
				TKVT.THANG, VT.TENVT, TKVT.TONGSOLUONG, TKVT.TONGTRIGIA
			INTO
				#OTHER_SITE_DATA
			FROM
				LINK1.QLVT_DATHANG.DBO.VATTU AS VT
			INNER JOIN (
				SELECT
					THANG=CONCAT(MONTH(PN.NGAY), '-', YEAR(PN.NGAY)),
					CTPN.MAVT AS MAVT,
					SUM(CTPN.SOLUONG) AS TONGSOLUONG,
					SUM(CTPN.SOLUONG * CTPN.DONGIA) AS TONGTRIGIA
				FROM (
					SELECT PHIEUNHAP.MAPN, PHIEUNHAP.NGAY
					FROM LINK1.QLVT_DATHANG.DBO.PHIEUNHAP
					WHERE PHIEUNHAP.NGAY BETWEEN @FROM_DATE AND @TO_DATE
				) AS PN
				INNER JOIN LINK1.QLVT_DATHANG.DBO.CTPN 
				ON CTPN.MAPN = PN.MAPN
				GROUP BY CONCAT(MONTH(PN.NGAY), '-', YEAR(PN.NGAY)), CTPN.MAVT
			) AS TKVT
			ON TKVT.MAVT = VT.MAVT
			ORDER BY THANG ASC, TENVT ASC;

			SELECT *
			FROM #CURRENT_SITE_DATA
			UNION
			SELECT *
			FROM #OTHER_SITE_DATA

			RETURN 0;
		END

		SELECT * FROM #CURRENT_SITE_DATA;
	END;
	ELSE IF (@LOAIPHIEU = 'XUAT') BEGIN
		SELECT
			TKVT.THANG, VT.TENVT, TKVT.TONGSOLUONG, TKVT.TONGTRIGIA
		INTO
			#CURRENT_SITE_DATA2
		FROM
			VATTU AS VT
		INNER JOIN (
			SELECT
				THANG=CONCAT(MONTH(PX.NGAY), '-', YEAR(PX.NGAY)),
				CTPX.MAVT AS MAVT,
				SUM(CTPX.SOLUONG) AS TONGSOLUONG,
				SUM(CTPX.SOLUONG * CTPX.DONGIA) AS TONGTRIGIA
			FROM (
				SELECT PHIEUXUAT.MAPX, PHIEUXUAT.NGAY
				FROM PHIEUXUAT WITH (INDEX(IX_PHIEUXUAT_NGAY))
				WHERE PHIEUXUAT.NGAY BETWEEN @FROM_DATE AND @TO_DATE
			) AS PX
			INNER JOIN CTPX
			ON CTPX.MAPX = PX.MAPX
			GROUP BY CONCAT(MONTH(PX.NGAY), '-', YEAR(PX.NGAY)), CTPX.MAVT
		) AS TKVT
		ON TKVT.MAVT = VT.MAVT
		ORDER BY THANG ASC, TENVT ASC;

		IF (@EMPLOYEE_ROLE = 'CONGTY') BEGIN
			SELECT
				TKVT.THANG, VT.TENVT, TKVT.TONGSOLUONG, TKVT.TONGTRIGIA
			INTO
				#OTHER_SITE_DATA2
			FROM
				LINK1.QLVT_DATHANG.DBO.VATTU AS VT
			INNER JOIN (
				SELECT
					THANG=CONCAT(MONTH(PX.NGAY), '-', YEAR(PX.NGAY)),
					CTPX.MAVT AS MAVT,
					SUM(CTPX.SOLUONG) AS TONGSOLUONG,
					SUM(CTPX.SOLUONG * CTPX.DONGIA) AS TONGTRIGIA
				FROM (
					SELECT PHIEUXUAT.MAPX, PHIEUXUAT.NGAY
					FROM LINK1.QLVT_DATHANG.DBO.PHIEUXUAT
					WHERE NGAY BETWEEN @FROM_DATE AND @TO_DATE
				) AS PX
				INNER JOIN LINK1.QLVT_DATHANG.DBO.CTPX
				ON CTPX.MAPX = PX.MAPX
				GROUP BY CONCAT(MONTH(PX.NGAY), '-', YEAR(PX.NGAY)), CTPX.MAVT
			) AS TKVT
			ON TKVT.MAVT = VT.MAVT
			ORDER BY THANG ASC, TENVT ASC;
			
			
			SELECT *
			FROM #CURRENT_SITE_DATA2
			UNION
			SELECT *
			FROM #OTHER_SITE_DATA2

			RETURN 0;
		END;

		SELECT * FROM #CURRENT_SITE_DATA2;
	END;
	ELSE THROW 51000, 'Invalid LOAIPHIEU', 1;
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EMPLOYEE_ID]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_EMPLOYEE_ID]
    @MACN NVARCHAR(3),
    @MANV_MOI INT OUTPUT
AS
BEGIN
    -- * GET THE LAST DIGIT INDICATE THAT BRANCH
    DECLARE @BRANCH_INDICATOR INT;
    SET @BRANCH_INDICATOR = CAST(SUBSTRING(@MACN, 3, 1) AS INT);

    -- * COUNT NUMBER OF BRANCH
    DECLARE @NUMBER_OF_BRANCH INT;
    SELECT @NUMBER_OF_BRANCH = COUNT(MACN) FROM LINK2.QLVT_DATHANG.DBO.CHINHANH;

    -- * COUNT NUMBER OF EMPLOYEE OF THE GIVEN BRANCH
    DECLARE @NUMBER_OF_EMPLOYEE INT;
    SELECT @NUMBER_OF_EMPLOYEE = COUNT(MANV) FROM NHANVIEN;
    
    -- * RETURN THE NEW EMPLOYEE ID FOR THE GIVEN BRANCH
    SET @MANV_MOI = (@BRANCH_INDICATOR + @NUMBER_OF_EMPLOYEE * @NUMBER_OF_BRANCH);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_USER_INFO_BY_LOGIN]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_USER_INFO_BY_LOGIN]
	@TEN_LOGIN NVARCHAR( 100)
AS
BEGIN
	DECLARE @UID INT
	DECLARE @MANV NVARCHAR(100)

	SELECT
		@UID = uid,
		@MANV = NAME -- Lấy username
    FROM sys.sysusers 
  	WHERE sid = SUSER_SID(@TEN_LOGIN)

	SELECT
        MANV = @MANV,
        HOTEN = (SELECT HO + ' ' + TEN FROM dbo.NHANVIEN WHERE MANV = @MANV), 
       	TENNHOM = NAME -- Lấy tên nhóm quyền
  	FROM sys.sysusers
    WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid = @UID)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_ALL_EMPLOYEES]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LIST_ALL_EMPLOYEES] 
  @PAGE INT,
  @SIZE INT
AS
BEGIN
  DECLARE @OFFSET_VALUE INT = (@PAGE - 1) * @SIZE;

  SELECT
    MANV,
    HO,
    TEN,
    CMND,
    DIACHI,
    NGAYSINH,
    LUONG,
    MACN
  FROM
    NHANVIEN
  WHERE
    TRANGTHAIXOA = 0
  ORDER BY
    MANV DESC,
    TEN ASC,
    HO DESC
  OFFSET @OFFSET_VALUE ROWS
  FETCH NEXT @SIZE ROWS ONLY;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_ALL_SUPLLIES]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LIST_ALL_SUPLLIES]
AS
BEGIN
    SELECT
        VT.MAVT AS MAVT,
        VT.TENVT AS TEN_VAT_TU,
        VT.SOLUONGTON AS SO_LUONG_TON,
        VT.DVT AS DON_VI_TINH
    FROM VATTU AS VT
    ORDER BY VT.TENVT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_ALL_WAREHOUSES]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LIST_ALL_WAREHOUSES]
	@PAGE INT,
	@SIZE INT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @OFFSET_VALUE INT = (@PAGE - 1) * @SIZE;

	SELECT MAKHO, TENKHO, DIACHI, MACN FROM KHO ORDER BY MAKHO DESC
	OFFSET @OFFSET_VALUE ROWS
	FETCH NEXT @SIZE ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_DETAIL_QUANTITY_AND_PRICE_OF_IMPORT_OR_EXPORT]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LIST_DETAIL_QUANTITY_AND_PRICE_OF_IMPORT_OR_EXPORT]
    @ROLE NVARCHAR(8),
    @OPTION NCHAR(4),
    @FROM_DATE DATE,
    @TO_DATE DATE
AS
BEGIN
    -- FOR CONGTY ROLE
    IF @ROLE = 'CongTy'
        BEGIN
            -- FOR NHAP OPTION
            IF @OPTION = 'NHAP'
                BEGIN
                    SELECT
                        TKVT.THANG_NAM AS THANG_NAM,
                        VT.TENVT AS TEN_VAT_TU,
                        TKVT.TONG_SO_LUONG AS TONG_SO_LUONG,
                        TKVT.TONG_TRI_GIA AS TONG_TRI_GIA
                    FROM 
                        LINK2.QLVT_DATHANG.DBO.VATTU AS VT
                    INNER JOIN (
                        SELECT
                            FORMAT(PN.NGAY, 'MM-YYYY') AS THANG_NAM,
                                CTPN.MAVT AS MAVT,
                                SUM(CTPN.SOLUONG) AS TONG_SO_LUONG,
                                SUM(CTPN.SOLUONG * CTPN.DONGIA) AS TONG_TRI_GIA
                            FROM (
                                SELECT * FROM LINK2.QLVT_DATHANG.DBO.PHIEUNHAP
                                WHERE NGAY BETWEEN @FROM_DATE AND @TO_DATE
                            ) AS PN
                            INNER JOIN LINK2.QLVT_DATHANG.DBO.CTPN AS CTPN ON PN.MAPN = CTPN.MAPN
                            GROUP BY FORMAT(PN.NGAY, 'MM-YYYY'), CTPN.MAVT
                        ) AS TKVT ON VT.MAVT = TKVT.MAVT
                    ORDER BY TKVT.THANG_NAM, VT.TENVT ASC
                END
            -- FOR XUAT OPTION
            ELSE IF @OPTION = 'XUAT'
                BEGIN
                    SELECT
                        TKVT.THANG_NAM AS THANG_NAM,
                        VT.TENVT AS TEN_VAT_TU,
                        TKVT.TONG_SO_LUONG AS TONG_SO_LUONG,
                        TKVT.TONG_TRI_GIA AS TONG_TRI_GIA
                    FROM 
                        LINK2.QLVT_DATHANG.DBO.VATTU AS VT
                    INNER JOIN (
                        SELECT
                            FORMAT(PX.NGAY, 'MM-YYYY') AS THANG_NAM,
                                CTPX.MAVT AS MAVT,
                                SUM(CTPX.SOLUONG) AS TONG_SO_LUONG,
                                SUM(CTPX.SOLUONG * CTPX.DONGIA) AS TONG_TRI_GIA
                            FROM (
                                SELECT * FROM LINK2.QLVT_DATHANG.DBO.PHIEUXUAT
                                WHERE NGAY BETWEEN @FROM_DATE AND @TO_DATE
                            ) AS PX
                            INNER JOIN LINK2.QLVT_DATHANG.DBO.CTPX AS CTPX ON PX.MAPX = CTPX.MAPX
                            GROUP BY FORMAT(PX.NGAY, 'MM-YYYY'), CTPX.MAVT
                        ) AS TKVT ON VT.MAVT = TKVT.MAVT
                    ORDER BY TKVT.THANG_NAM, VT.TENVT ASC
                END
        END
    -- FOR OTHER ROLES: CHINHANH, USER
    ELSE
        BEGIN
            -- FOR NHAP OPTION
            IF @OPTION = 'NHAP'
                BEGIN
                    SELECT
                        TKVT.THANG_NAM AS THANG_NAM,
                        VT.TENVT AS TEN_VAT_TU,
                        TKVT.TONG_SO_LUONG AS TONG_SO_LUONG,
                        TKVT.TONG_TRI_GIA AS TONG_TRI_GIA
                    FROM 
                        VATTU AS VT
                    INNER JOIN (
                        SELECT
                            FORMAT(PN.NGAY, 'MM-YYYY') AS THANG_NAM,
                                CTPN.MAVT AS MAVT,
                                SUM(CTPN.SOLUONG) AS TONG_SO_LUONG,
                                SUM(CTPN.SOLUONG * CTPN.DONGIA) AS TONG_TRI_GIA
                            FROM (
                                SELECT * FROM PHIEUNHAP
                                WHERE NGAY BETWEEN @FROM_DATE AND @TO_DATE
                            ) AS PN
                            INNER JOIN CTPN AS CTPN ON PN.MAPN = CTPN.MAPN
                            GROUP BY FORMAT(PN.NGAY, 'MM-YYYY'), CTPN.MAVT
                        ) AS TKVT ON VT.MAVT = TKVT.MAVT
                    ORDER BY TKVT.THANG_NAM, VT.TENVT ASC
                END
            -- FOR XUAT OPTION
            ELSE IF @OPTION = 'XUAT'
                BEGIN
                    SELECT
                        TKVT.THANG_NAM AS THANG_NAM,
                        VT.TENVT AS TEN_VAT_TU,
                        TKVT.TONG_SO_LUONG AS TONG_SO_LUONG,
                        TKVT.TONG_TRI_GIA AS TONG_TRI_GIA
                    FROM 
                        VATTU AS VT
                    INNER JOIN (
                        SELECT
                            FORMAT(PX.NGAY, 'MM-YYYY') AS THANG_NAM,
                                CTPX.MAVT AS MAVT,
                                SUM(CTPX.SOLUONG) AS TONG_SO_LUONG,
                                SUM(CTPX.SOLUONG * CTPX.DONGIA) AS TONG_TRI_GIA
                            FROM (
                                SELECT * FROM PHIEUXUAT
                                WHERE NGAY BETWEEN @FROM_DATE AND @TO_DATE
                            ) AS PX
                            INNER JOIN CTPX AS CTPX ON PX.MAPX = CTPX.MAPX
                            GROUP BY FORMAT(PX.NGAY, 'MM-YYYY'), CTPX.MAVT
                        ) AS TKVT ON VT.MAVT = TKVT.MAVT
                    ORDER BY TKVT.THANG_NAM, VT.TENVT ASC
                END
        END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_EMPLOYEE_WORKING_STATUS]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_EMPLOYEE_WORKING_STATUS]
	@MANV INT, @FROM_DATE DATE, @TO_DATE DATE
AS
BEGIN
	DECLARE @EMPLOYEE_ROLE NVARCHAR(8);

	EXEC DBO.SP_FETCH_ROLE_NAME_BY_EMPLOYEE_ID
		@EMPLOYEE_ID = @MANV,
		@ROLE_NAME = @EMPLOYEE_ROLE OUTPUT;

	-- EMPLOYEE IS WORKING AT THE CURRENT BRANCH
	IF EXISTS (SELECT 1 FROM NHANVIEN AS NV WHERE NV.MANV = @MANV) BEGIN
		SELECT NGAY, PN.MAPN AS MAPHIEU, LOAIPHIEU = 'NHAP', HOTENKH = 'NULL', TENVT,
			CAST(THONGTIN_VATTU.SOLUONG AS NVARCHAR(256)) + ' ' + THONGTIN_VATTU.DVT AS SOLUONG, DONGIA,
			TRIGIA = SOLUONG * DONGIA
		INTO #DSPN1
		FROM (SELECT NGAY, MAPN FROM PhieuNhap WHERE MANV=@MANV AND NGAY BETWEEN @FROM_DATE AND @TO_DATE) AS PN
		INNER JOIN (
			SELECT MAPN, TENVT, SOLUONG, DONGIA, DVT FROM VATTU
			INNER JOIN CTPN ON VATTU.MAVT=CTPN.MAVT
		) AS THONGTIN_VATTU ON THONGTIN_VATTU.MAPN=PN.MAPN;

		SELECT NGAY, PX.MAPX AS MAPHIEU, LOAIPHIEU = 'XUAT', HOTENKH, TENVT,
			CAST(THONGTIN_VATTU.SOLUONG AS NVARCHAR(256)) + ' ' + THONGTIN_VATTU.DVT AS SOLUONG, DONGIA,
			TRIGIA = SOLUONG*DONGIA
		INTO #DSPX1
		FROM (SELECT NGAY, MAPX, HOTENKH FROM PhieuXuat WHERE MANV = @MANV AND NGAY BETWEEN @FROM_DATE AND @TO_DATE) AS PX
		INNER JOIN (
			SELECT MAPX, TENVT, SOLUONG, DONGIA, DVT FROM VATTU
			INNER JOIN CTPX ON VATTU.MAVT=CTPX.MAVT
		) AS THONGTIN_VATTU ON THONGTIN_VATTU.MAPX=PX.MAPX;

		SELECT * FROM #DSPN1
		UNION
		SELECT * FROM #DSPX1
		ORDER BY #DSPN1.NGAY
	END
	-- EMPLOYEE IS WORKING AT THE OTHER BRANCH -> USE LINK 1 TO FETCH DATA
	ELSE BEGIN
		IF NOT (@EMPLOYEE_ROLE = 'CONGTY') BEGIN
			THROW 50000, 'The EMPLOYEE_ROLE is not CONGTY.', 1;
		END;

		SELECT NGAY, PN.MAPN AS MAPHIEU, LOAIPHIEU = 'NHAP', HOTENKH = 'NULL', TENVT,
			CAST(THONGTIN_VATTU.SOLUONG AS NVARCHAR(256)) + ' ' + THONGTIN_VATTU.DVT AS SOLUONG, DONGIA,
			TRIGIA = SOLUONG * DONGIA
		INTO #DSPN2
		FROM (
			SELECT NGAY, MAPN FROM LINK1.QLVT_DATHANG.DBO.PhieuNhap
			WHERE MANV=@MANV AND NGAY BETWEEN @FROM_DATE AND @TO_DATE
		) AS PN INNER JOIN (
			SELECT MAPN, TENVT, SOLUONG, DONGIA, DVT FROM LINK1.QLVT_DATHANG.DBO.CTPN
			INNER JOIN LINK1.QLVT_DATHANG.DBO.VATTU ON VATTU.MAVT=CTPN.MAVT
		) AS THONGTIN_VATTU ON THONGTIN_VATTU.MAPN=PN.MAPN;

		SELECT NGAY, PX.MAPX AS MAPHIEU, LOAIPHIEU = 'XUAT', HOTENKH, TENVT,
			CAST(THONGTIN_VATTU.SOLUONG AS NVARCHAR(256)) + ' ' + THONGTIN_VATTU.DVT AS SOLUONG, DONGIA,
			TRIGIA = SOLUONG*DONGIA
		INTO #DSPX2
		FROM (
			SELECT NGAY, MAPX, HOTENKH FROM LINK1.QLVT_DATHANG.DBO.PhieuXuat
			WHERE MANV = @MANV AND NGAY BETWEEN @FROM_DATE AND @TO_DATE
		) AS PX INNER JOIN (
			SELECT MAPX, TENVT, SOLUONG, DONGIA, DVT FROM LINK1.QLVT_DATHANG.DBO.CTPX
			INNER JOIN LINK1.QLVT_DATHANG.DBO.VATTU ON VATTU.MAVT=CTPX.MAVT
		) AS THONGTIN_VATTU ON THONGTIN_VATTU.MAPX=PX.MAPX;

		SELECT * FROM #DSPN2
		UNION
		SELECT * FROM #DSPX2
		ORDER BY #DSPN2.NGAY
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_EMPLOYEES_LIST]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_EMPLOYEES_LIST]
	@MANV INT, @MACN_XUAT_BAOCAO nchar(10), @MACN_THUOC_LOGIN nchar(10)
AS
BEGIN

	IF (@MACN_XUAT_BAOCAO != @MACN_THUOC_LOGIN) BEGIN
		DECLARE @EMPLOYEE_ROLE NVARCHAR(20);
		EXEC DBO.SP_FETCH_ROLE_NAME_BY_EMPLOYEE_ID
			@EMPLOYEE_ID = @MANV,
			@ROLE_NAME = @EMPLOYEE_ROLE OUTPUT;

		IF NOT (@EMPLOYEE_ROLE = 'CONGTY') THROW 5100, 'Invalid role accessing', 1;
		
		SELECT MANV, HO, TEN, CMND, DIACHI, NGAYSINH, LUONG, MACN, TrangThaiXoa
		FROM LINK1.QLVT_DATHANG.DBO.NHANVIEN
		ORDER BY MANV DESC, TEN ASC, HO DESC;

	END;
	ELSE BEGIN
		SELECT MANV, HO, TEN, CMND, DIACHI, NGAYSINH, LUONG, MACN, TrangThaiXoa
		FROM NHANVIEN WITH(INDEX(IX_NHANVIEN_TEN, IX_NHANVIEN_HO))
		ORDER BY MANV DESC, TEN ASC, HO DESC;
	END;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_OF_PERCENTAGE_OF_IMPORT_AND_EXPORT]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_OF_PERCENTAGE_OF_IMPORT_AND_EXPORT]
    @FROM_DATE DATETIME,
    @TO_DATE DATETIME
AS
BEGIN
    -- TAKING ALL THE IMPORT AND IMPORT DETAIL WITHIN THE DATE RANGE
    SELECT
        PN.NGAY AS NGAY,
        CTPN.SOLUONG AS SOLUONG,
        CTPN.DONGIA AS DONGIA
    INTO #TEMP_IMPORT
    FROM (SELECT * FROM PhieuNhap WHERE NGAY BETWEEN @FROM_DATE AND @TO_DATE) AS PN
    INNER JOIN CTPN AS CTPN ON PN.MAPN = CTPN.MAPN

    -- TAKING ALL THE EXPORT AND EXPORT DETAIL WITHIN THE DATE RANGE
    SELECT
        PX.NGAY AS NGAY,
        CTPX.SOLUONG AS SOLUONG,
        CTPX.DONGIA AS DONGIA
    INTO #TEMP_EXPORT
    FROM (SELECT * FROM PhieuXuat WHERE NGAY BETWEEN @FROM_DATE AND @TO_DATE) AS PX
    INNER JOIN CTPX AS CTPX ON PX.MAPX = CTPX.MAPX

    -- CALCULATING THE TOTAL IMPORT AND EXPORT
    SELECT 
        ISNULL(TOTAL_IMPORT_DETAILS.NGAY, TOTAL_EXPORT_DETAILS.NGAY) AS NGAY,
        ISNULL(TOTAL_IMPORT_DETAILS.NHAP, 0) AS NHAP,
        ISNULL(TOTAL_IMPORT_DETAILS.TI_LE_NHAP, 0) AS TI_LE_NHAP,
        ISNULL(TOTAL_EXPORT_DETAILS.XUAT, 0) AS XUAT,
        ISNULL(TOTAL_EXPORT_DETAILS.TI_LE_XUAT, 0) AS TI_LE_XUAT
    FROM (
        SELECT
            PN.NGAY AS NGAY,
            SUM(PN.SOLUONG * PN.DONGIA) AS NHAP,
            SUM(PN.SOLUONG * PN.DONGIA) * 100.0 / (SELECT SUM(SOLUONG * DONGIA) FROM #TEMP_IMPORT) AS TI_LE_NHAP
        FROM #TEMP_IMPORT AS PN
        GROUP BY PN.NGAY
    ) AS TOTAL_IMPORT_DETAILS
    FULL OUTER JOIN (
        SELECT
            PX.NGAY AS NGAY,
            SUM(PX.SOLUONG * PX.DONGIA) AS XUAT,
            SUM(PX.SOLUONG * PX.DONGIA) * 100.0 / (SELECT SUM(SOLUONG * DONGIA) FROM #TEMP_EXPORT) AS TI_LE_XUAT
        FROM #TEMP_EXPORT AS PX
        GROUP BY PX.NGAY
    ) AS TOTAL_EXPORT_DETAILS
    ON TOTAL_IMPORT_DETAILS.NGAY = TOTAL_EXPORT_DETAILS.NGAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_SUPPLIES_LIST]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_SUPPLIES_LIST]
AS
BEGIN
	SELECT MAVT, TENVT, DVT, SOLUONGTON FROM Vattu WITH(INDEX(IX_Vattu_TENVT));
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUPPLY_TREND]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SUPPLY_TREND]
AS
BEGIN
	SELECT VATTU.TENVT, TONG_NHAP.TONG, VATTU.MAVT
	INTO #TEMP_NHAP
	FROM VATTU
	INNER JOIN (SELECT MAVT, TONG = SUM(SOLUONG) FROM CTPN GROUP BY MAVT) AS TONG_NHAP
	ON TONG_NHAP.MAVT = VATTU.MAVT;

	SELECT VATTU.TENVT, TONG_XUAT.TONG, VATTU.MAVT
	INTO #TEMP_XUAT
	FROM VATTU
	INNER JOIN (SELECT MAVT, TONG = SUM(SOLUONG) FROM CTPX GROUP BY MAVT) AS TONG_XUAT
	ON TONG_XUAT.MAVT = VATTU.MAVT;

	SELECT 
		#TEMP_NHAP.TENVT,
		ISNULL(#TEMP_NHAP.TONG, 0) AS TONG_NHAP,
		ISNULL(#TEMP_XUAT.TONG, 0) AS TONG_XUAT
	FROM #TEMP_NHAP
	FULL OUTER JOIN #TEMP_XUAT
	ON #TEMP_NHAP.MAVT = #TEMP_XUAT.MAVT;

	DROP TABLE #TEMP_NHAP
	DROP TABLE #TEMP_XUAT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_EMPLOYEE]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_EMPLOYEE] @MANV INT,
  @CMND NVARCHAR(20),
  @HO NVARCHAR(20),
  @TEN NVARCHAR(50),
  @DIACHI NVARCHAR(100),
  @NGAYSINH DATE,
  @LUONG FLOAT,
  @MACN_MOI NVARCHAR(3),
  @MACN_CU NVARCHAR(3)
AS
  SET XACT_ABORT ON;
  SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN
	BEGIN TRY

	IF NOT EXISTS(SELECT 1 FROM LINK0.QLVT_DATHANG.DBO.NhanVien WHERE TrangThaiXoa = 0 AND MANV = @MANV)
		THROW 51000, 'Employee Id not found', 1;

    BEGIN DISTRIBUTED TRAN
    -- * CHECKING IF THE CHANGE BRANCH OPERATION WILL BE EXECUTED OR NOT.
    IF @MACN_CU <> @MACN_MOI
	-- * CHANGE BRANCH AND UPDATE EMPLOYEE INFORMATION PROCESS
	BEGIN 
		-- * CHECKING IF THE TARGETING EMPLOYEE IS USED TO WORK AT THE NEW BRANCH (1)
		IF EXISTS (SELECT 1 FROM LINK1.QLVT_DATHANG.dbo.NhanVien WHERE CMND = @CMND)
		BEGIN
			-- PROCESS IF (1) IS TRUE
			UPDATE LINK1.QLVT_DATHANG.dbo.NhanVien SET
				HO = @HO,
				TEN = @TEN,
				DIACHI = @DIACHI,
				NGAYSINH = @NGAYSINH,
				LUONG = @LUONG,
				TrangThaiXoa = 0
			WHERE MANV = (SELECT MANV FROM LINK1.QLVT_DATHANG.dbo.NhanVien WHERE CMND = @CMND)
		END
        ELSE -- PROCESS IF (1) IS FALSE
		BEGIN
			-- * GENERATE NEW EMPLOYEE ID AT NEW BRANCH
			DECLARE @MANV_MOI INT;
            EXEC SP_GET_EMPLOYEE_ID @MACN = @MACN_MOI, @MANV_MOI = @MANV_MOI OUTPUT;

            -- * INSERT A NEW EMPLOYEE INTO THE NEW BRANCH
            INSERT INTO LINK1.QLVT_DATHANG.dbo.NhanVien
					(MANV, CMND, HO, TEN, DIACHI, NGAYSINH, LUONG, MACN, TRANGTHAIXOA)
            VALUES	(@MANV_MOI, @CMND, @HO, @TEN, @DIACHI, @NGAYSINH, @LUONG, @MACN_MOI, 0)
		END
        
        -- * UPDATE THE DELETE STATUS OF THE CURRENT BRANCH OF THE TARGETING EMPLOYEE TO BE 1 (DELETED)
        UPDATE dbo.NhanVien SET TrangThaiXoa = 1 WHERE MANV = @MANV
      END
    ELSE
	BEGIN -- * UPDATE EMPLOYEE INFORMATION PROCESS
		UPDATE NHANVIEN SET
			HO = @HO,
			TEN = @TEN,
			CMND = @CMND,
			DIACHI = @DIACHI,
			NGAYSINH = @NGAYSINH,
			LUONG = @LUONG
		WHERE TRANGTHAIXOA = 0 AND MANV = @MANV
	END
    COMMIT TRAN
	END TRY
	BEGIN CATCH
	ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SUPPLIES_EXPORTATION_DETAIL]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Le Van Dung
-- Create date: 17/6/2024
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATE_SUPPLIES_EXPORTATION_DETAIL]
	@MAPX NCHAR(8), @MAVT NCHAR(4), @SOLUONG INT, @DONGIA FLOAT
AS
	-- Automaically rollback when throwing exc.
	SET XACT_ABORT ON;
	-- Close transaction in the current session of this SP.
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN
	BEGIN TRY

    BEGIN TRAN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
			
	--Lấy số lượng cũ ra trước để tính toán lại SOLUONGTON cho đúng.
	DECLARE @SOLUONGTON INT, @SOLUONG_CU INT, @DOLECH INT;
	SELECT TOP 1 @SOLUONG_CU=SOLUONG FROM CTPX WHERE MAPX=@MAPX AND MAVT=@MAVT;

	IF (@SOLUONG > @SOLUONG_CU) BEGIN
		SET @DOLECH = @SOLUONG - @SOLUONG_CU;
		-- Kiểm tra số lượng tồn rồi trừ bớt khi nhập vào Vattu khi SOLUONG cập nhật lớn hơn SOLUONGCU (May throw exc).
		EXEC SP_UPDATE_SUPPLY_QUANTITY @OPTION='SUBTRACT', @MAVT = @MAVT, @SOLUONG = @DOLECH;
	END;
	ELSE BEGIN
		SET @DOLECH = @SOLUONG_CU - @SOLUONG;
		-- Kiểm tra số lượng tồn rồi cộng thêm khi nhập vào Vattu khi SOLUONG cập nhật bé hơn SOLUONGCU (May throw exc).
		EXEC SP_UPDATE_SUPPLY_QUANTITY @OPTION='ADD', @MAVT = @MAVT, @SOLUONG = @DOLECH;
	END;

	UPDATE CTPX SET SOLUONG=@SOLUONG, DONGIA=@DONGIA WHERE MAPX=@MAPX AND MAVT=@MAVT;
	
    COMMIT TRAN;

	END TRY
	BEGIN CATCH
	ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SUPPLIES_IMPORTATION_DETAIL]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Le Van Dung
-- Create date: 17/6/2024
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATE_SUPPLIES_IMPORTATION_DETAIL]
	@MAPN NCHAR(8), @MAVT NCHAR(4), @SOLUONG INT, @DONGIA FLOAT
AS
	-- Automaically rollback when throwing exc.
	SET XACT_ABORT ON;
	-- Close transaction in the current session of this SP.
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN
	BEGIN TRY
    BEGIN TRAN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @SOLUONG_TU_CTDDH INT;
	SELECT TOP 1 @SOLUONG_TU_CTDDH=SOLUONG FROM CTDDH WHERE MAVT=@MAVT AND MasoDDH=(SELECT TOP 1 MasoDDH FROM PhieuNhap WHERE MAPN=@MAPN);
	IF (@SOLUONG > @SOLUONG_TU_CTDDH)
		-- Không thể tăng số lượng vượt quá số lượng từ vật tư ở CTDDH tương ứng.
		THROW 51000, '-2', 1;
		
	--Lấy số lượng cũ ra trước để tính toán lại SOLUONGTON cho đúng.
	DECLARE @SOLUONGTON INT, @SOLUONG_CU INT, @DOLECH INT;
	SELECT TOP 1 @SOLUONG_CU=SOLUONG FROM CTPN WHERE MAPN=@MAPN AND MAVT=@MAVT;
	IF (@SOLUONG >= @SOLUONG_CU) BEGIN
		SET @DOLECH = @SOLUONG - @SOLUONG_CU;
		-- Kiểm tra số lượng tồn rồi cộng thêm vào khi nhập vào Vattu, khi SOLUONG cập nhật lớn hơn SOLUONGCU (May throw exc).
		EXEC SP_UPDATE_SUPPLY_QUANTITY @OPTION='ADD', @MAVT = @MAVT, @SOLUONG = @DOLECH;
	END;
	ELSE BEGIN
		SET @DOLECH = @SOLUONG_CU - @SOLUONG;
		-- Kiểm tra số lượng tồn rồi trừ bớt khi nhập vào Vattu, khi SOLUONG cập nhật bé hơn SOLUONGCU (May throw exc).
		EXEC SP_UPDATE_SUPPLY_QUANTITY @OPTION='SUBTRACT', @MAVT = @MAVT, @SOLUONG = @DOLECH;
	END;

	UPDATE CTPN SET SOLUONG=@SOLUONG, DONGIA=@DONGIA WHERE MAPN=@MAPN AND MAVT=@MAVT;
	
    COMMIT TRAN;
	END TRY
BEGIN CATCH
ROLLBACK TRAN
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SUPPLY_QUANTITY]    Script Date: 6/25/2024 9:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_SUPPLY_QUANTITY]
	@OPTION NVARCHAR(8),
	@MAVT NCHAR(4),
	@SOLUONG INT
AS
BEGIN
    IF NOT (EXISTS(SELECT * FROM DBO.Vattu AS VT WHERE VT.MAVT = @MAVT)) BEGIN
		-- MAVT is invalid.
		THROW 50000, '-1', 1;
	END;

	DECLARE @SOLUONGTON INT;
	SELECT TOP 1 @SOLUONGTON=SOLUONGTON FROM Vattu WHERE MAVT=@MAVT;

	IF (@OPTION = 'ADD') BEGIN
		UPDATE Vattu SET SOLUONGTON=(@SOLUONGTON+@SOLUONG) WHERE MAVT=@MAVT;
	END;
    ELSE IF(@OPTION = 'SUBTRACT') BEGIN
		IF (@SOLUONGTON < @SOLUONG) BEGIN
			-- SOLUONGTON is invalid.
			THROW 51000, '-2', 1;
		END;

		UPDATE Vattu SET SOLUONGTON=(@SOLUONGTON-@SOLUONG) WHERE MAVT=@MAVT;
	END;

END;
GO
